/**
 * @name AnimatedCord
 * @author Dat Bogie
 * @version 0.0.1
 * @description A *very* simple Discord theme aimed at animating clickable elements.
 * @source https://github.com/DatBogie/AnimatedCord
 * @website https://datbogie.github.io/
 */

button:not(.barButtonMain_cf58b5):hover,[role="menuitemradio"]:hover,[role="radio"]:hover,[role="menuitemcheckbox"]:hover,[role="tab"]:not(.item_a0):hover,[role="button"]:not([aria-haspopup="listbox"]):hover,[role="menuitem"]:hover,[role="option"]:not(.option_f6639d):hover,[role="listitem"]:hover,[role="switch"]:hover,.control_ed1d57:hover,a:not([href="https://betterdiscord.app/themes"]):not([href="https://github.com/search?q=discord+theme"]):hover,.label_d1ac9b:hover,.clickable_f9f2ca:hover,.clickableWrapper_d4597d:hover,.imageContainer_cf58b5:hover,.wrapper_c51b4e:hover,.clickable_fd6364:hover, .grabber_c7a159:hover {
    transform: scale(1.05) !important;
    transition: all 0.1s ease-in-out !important;
}

button:not(.barButtonMain_cf58b5):active,[role="menuitemradio"]:active,[role="radio"]:active,[role="menuitemcheckbox"]:active,[role="tab"]:not(.item_a0):active,[role="button"]:not([aria-haspopup="listbox"]):active,[role="menuitem"]:active,[role="option"]:not(.option_f6639d):active,[role="listitem"]:active,[role="switch"]:active,.control_ed1d57:active,a:not([href="https://betterdiscord.app/themes"]):not([href="https://github.com/search?q=discord+theme"]):active,.label_d1ac9b:active,.clickable_f9f2ca:active,.clickableWrapper_d4597d:active,.imageContainer_cf58b5:active,.wrapper_c51b4e:active,.clickable_fd6364:active, .grabber_c7a159:active {
    transform: scale(.95) !important;
    transition: all 0.1s ease-out !important;
}

button,[role="menuitemradio"],[role="radio"],[role="menuitemcheckbox"],[role="tab"]:not(.item_a0),[role="button"]:not([aria-haspopup="listbox"]),[role="menuitem"],[role="option"]:not(.option_f6639d),[role="listitem"],[role="switch"],.control_ed1d57,a,.label_d1ac9b,.clickable_f9f2ca,.clickableWrapper_d4597d,.imageContainer_cf58b5,.wrapper_c51b4e,.clickable_fd6364, .grabber_c7a159 {
    /* transform: scale(1.0) !important; */
    transition: all 0.2s ease-in-out !important;
}

[role="treeitem"]:hover {
    transform: scale(1.15) !important;
    transition: all 0.1s ease-in-out !important;
}

[role="treeitem"]:active {
    transform: scale(1.0) !important;
    transition: all 0.1s ease-out !important;
}

[role="treeitem"] {
    transform: scale(1.0) !important;
    transition: all 0.2s ease-in-out !important
}

.backdrop_e4f2ae {
    backdrop-filter: blur(3px) !important;
}

.containerDefault_f6f816:hover, .item_a0:hover, .option_f6639d:hover {
    transform: translateX(-6px) !important;
    transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1) !important;
}

.containerDefault_f6f816, .item_a0, .option_f6639d {
    transform: translateX(0px) !important;
    transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1) !important;
}

.containerDefault_f6f816:active {
    transform: translateX(-6px) !important;
    transform: scale(1.05) !important;
    transition: all 0.1s ease-out !important;
}

.item_a0:active, .option_f6639d:active {
    transform: translateX(-6px) !important;
    transform: scale(.95) !important;
    transition: all 0.1s ease-out !important;
}
